# Example pinning a particular version of Dallinger
#
# Note that caching means that, if you're pinning to a particular branch,
# then subsequent updates to that branch won't necessarily be incorporated into the Docker image.
# If you want to ensure that you have the latest version of the branch, it's best to pin
# to a particular commit.
#
# dallinger@git+https://github.com/Dallinger/Dallinger.git@print-dashboard-url#egg=dallinger

# Example pinning a particular version of PsyNet
psynet@git+https://gitlab.com/PsyNetDev/PsyNet.git@8f9eae6d1fe07eebd7c73cfaa068a9fd5afdd5fd#egg=psynet
dallinger@git+https://github.com/Dallinger/Dallinger.git@1719e7c8a7710b4e7c7a00293a8bbac5d5b6bc1b#egg=dallinger
